{{define "main"}}

<h1>{{.Title}}</h1>
<nav id="toc">
<!--TOC-->
{{.TableOfContents}}
</nav>

<!--Content-->
{{.Content}}
<!--Prev/Next-->
<nav id="prevnext">
<h1>Kolejna lekcja</h1>
<ul>
{{with .PrevInSection}}<li>Poprzednia: <a href="{{.RelPermalink}}">{{.Title}}</a></li>{{end}}
{{with .NextInSection}}<li>Następna: <a href="{{.RelPermalink}}">{{.Title}}</a></li>{{end}}
</ul>
</nav>

{{end}}
