{{define "main"}}

<h1>Wstęp</h1>

{{.Content}}


{{ range (where .Sections "Name" "Kurs") }}
{{ range .Sections }}
<h1>{{ .Title }}</h1>
<ul>
  {{range .Pages.ByParam "lessonnumber" }}
  <li><a href="{{.RelPermalink}}">{{.LinkTitle}}</a></li>
  {{end}}
</ul>
{{ end }}
{{ end }}
{{ end }}
