{{ $css := resources.Get "css/style.css" | resources.Fingerprint }}
<meta charset="utf-8"/>
<title>{{compare.Default site.Title .Title}}</title>
<meta content="width=device-width, initial-scale=1" name="viewport"/>
<link rel="stylesheet" type="text/css" href="{{ $css.RelPermalink }}"/>
{{range .Site.Params.author}}<meta name="author" content="{{.name}}"/>{{end}}
